{{ define "main" }}
<div class="flex justify-between">
    <!-- Left side for social shares -->
    <div class="w-1/4 px-4">
        <!-- Social share icons or widgets can go here -->
    </div>

    <!-- Center for content -->
    <div class="w-1/2 px-4 ">
        <h1>
            {{.Title}}
        </h1>
    
        
        
        <span>{{ partial "blog/readingTime.html" . }}</span>
        <article>
            <!-- Content here -->
            {{ .Content }}
        </article>
    </div>

    <!-- Right side for ads -->
    <div class="w-1/4 px-4">
        <!-- Ads or promotional content can go here -->
    </div>
</div>


{{ end }}
