<section class="bg-blue-400 md:h-96">
    <div class="mx-auto max-w-screen-xl">

        <div class="flex items-center md:pt-36 justify-center">
            <h1 class="text-3xl md:text-5xl text-white font-bold">Blog</h1>
        </div>

        <div>
            <nav class="pt-36 md:pt-36">
                <a href="" class="px-4"><i class="fa-solid fa-house"></i></a>
                <a href="" class="text-white px-4">AI</a>
                <a href="" class="text-white px-4">Machine Learning</a>
                <a href="" class="text-white px-4">Deep Learning</a>
                <a href="" class="text-white px-4">Reinforcement Learning</a>
            </nav>
        </div>
    </div>
</section>


<style>
    
body {
	font-size: 14px;
	line-height: 1.5;
}

// ----------------  THE FONTS

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 2rem;
	margin-bottom: .5em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: .8rem;
}

</style>